/*Balise utilisé avec leur  style pour chacun*/
header{
	background-color: #00ffff;
	border: thick double #ffffff;
}

h1{
	color: #fff;
	text-align: center;
	text-decoration: underline;
}
h3{
	color: white;
	text-align: center;
	text-decoration: underline;
}

main{
	border: solid 2px blue;	
	background-color: #000000;
	padding: 2em;
	width:auto;
	height: auto;
	overflow: auto;
	clear: both;
}

footer{
	border: solid 2px white;	
	background-color: #C0C0C0;
	padding: 1em;
	width: auto;
	height: auto;
	overflow: auto;
	clear: both;
}

span{
	color: white;
	font-style: italic;
	font-size:1.5em;
}

p{
	text-indent: 20px;
	text-align: justify;
	line-height: 150%;
	margin:auto;
	color: white;
	font-family: 'Brush Script MT';
	font-size: 2em;
}

aside {
    width: 50%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #ffffff;
}

aside > p {
    margin: .5rem;    
    font-size: 1em;
    font-family: sans-serif;
}
/*Balise opour mettre en forme le texte et les images*/
.type1{
	float: left;
	width: 40%;
  	padding: 20px;
  	border: 5px solid gray;
 	margin: 0;
 	border-radius: 50px;
}

.type2{
	float: right;
	width: 30%;
  	padding: 5px;
  	border: 5px solid white;
   	border-radius: 50px;
   	margin-right: 10%;
}

.type2#type2{
	overflow: auto;
	clear: right;
}


