/*Balise utilisé avec leur  style pour chacun*/
header{
	background-color: grey;
	border: thick double #ffffff;
}


h1{
	color: #ffffff;
	text-align: center;
	text-decoration: underline;
}


h2{
	color: whitesmoke;
	text-align: center;
	text-decoration: underline;
}

h3{
	color: whitesmoke;
	text-align: center;
	text-decoration: underline;
}
h4{
	color: whitesmoke;
	text-align: center;
	text-decoration: underline;
}
h5{
	text-decoration: underline;
	text-align: center;
	color: whitesmoke;
}

main{
	border: solid 2px blue;	
	background-color: #fa8072;
	padding: 1em;
	width: auto;
	height: auto;
	overflow: auto;
	clear: both;
}

footer{
	border: solid 2px white;	
	background-color: #C0C0C0;
	padding: 1em;
	width: auto;
	height: auto;
	overflow: auto;
	clear: both;
}

span{
	color: white;
	font-style: italic;
	font-size:1.5em;
}

p{
	text-indent: 20px;
	text-align: justify;
	margin:auto;
	color: white;
	font-family: 'Times New Roman',serif;
	font-size: 1.5em;
	line-height: 150%
}

aside {
    width: 50%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #ffffff;
}

aside > p {
    margin: .5rem;    
    font-size: 1em;
    font-family: sans-serif;
}
/*Balise pour mettre en forme le texte et les images*/
.type1{
	float: left;
	width: 40%;
  	padding: 20px;
  	border: 5px solid #191970;
 	margin: 10px;
 	border-radius: 50px;
}

.type2{
	float: right;
	width: 30%;
  	padding: 5px;
  	border: 5px solid white;
 	margin-right: 5%;
 	border-radius: 50px;
}

.type3 {
	clear: both;
	width: 30%;
	margin-left: 5%;
  	padding: 5px;
  	border: 2px solid #191900;
 	border-radius: 50px;
}

.type4{
	float: left;
	width: auto;
	height: auto;
  	padding: 40px;
  	border: 2px solid white;
 	margin: 50px;
 	border-radius: 50px;
}

.type5 {
	float: right;
	margin: 10px;
	height: 200px;
  	padding: 10px;  	
}

.type{
	float: left;
	width: auto;
	height: auto;
}

.ecriture{
	font-weight: bold;
	font-style: italic;
}